

<head>
    <link rel="stylesheet" href="~/css/AboutUs.css" />
</head>
<body class="mb-5">

@*<div class="about-section">
  <h1>About Us </h1>
  <p>Some text about who we are and what we do.</p>
</div>*@

<h2 style="text-align: center; font-family: 'Times New Roman',serif ">Try our cakes!</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/images/choko.jpg" alt="Choko" style="width:100%">
      <div class="container w3-third" style="font-family: 'Times New Roman',serif ;">
              <h2>Chocolate cakes</h2>
              <p>
                  When it comes to celebrating a special occasion, there is nothing better than tucking into a slice of classic chocolate cake.
                  The ultimate indulgence, a rich, velvety ganache takes this dessert to the next level.
              </p>
          </div>
      </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/pink.jpg" alt="pink" style="width:100%">
      <div class="container w3-third" style="font-family: 'Times New Roman',serif; ">
        <h2>Kids cakes</h2>
        <p>
            Kids have a sweet tooth for chocolates and cakes. They will always appreciate a good 
            happy birthday cake for kids on their special day. 
            So, are you worried about which cake to order for your kid? Don't be. We have you covered 
            with our vast range of heavenly cakes. Our spectacular cake designs for kids will surely make
            your day with our amazing cakes. Our amazing cakes are a must-check out.

        </p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/bio.jpg" alt="John" style="width:100%">
      <div class="container w3-third" style="font-family: 'Times New Roman',serif;">
        <h2>Bio cakes</h2>
        <p>Bio cake recipes aren’t just for those following a plant based diet. 
          When they taste as good as these, bio cakes can easily become the favourite 
          dessert of non-vegans alike. Made with wholesome dairy alternatives 
          like coconut milk and almond milk, these recipes are simply delicious. 
          Have your cake and eat it too, with any of these bio-friendly desserts.</p>
      </div>
    </div>
  </div>
</div>

</body>


