

<head>
    <link rel="stylesheet" href="~/css/AboutUs.css" />
</head>
<body class="mb-5">

<div class="about-section">
  <h1>About Us </h1>
  <p>Some text about who we are and what we do.</p>
</div>

<h2 style="text-align:center">Try our cakes!</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/images/choko.jpg" alt="Choko" style="width:100%">
      <div class="container">
        <h2>Chocolate cakes</h2>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/pink.jpg" alt="pink" style="width:100%">
      <div class="container">
        <h2>Kids cakes</h2>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/images/bio.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Bio cakes</h2>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>
</div>

</body>


