@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    The protection of personal data and the protection of the personal and financial information of our customers is particularly important to us.
    Therefore, we process your information exclusively on the basis of the applicable legislation, specifically the General Regulation 2016/670,
    the Personal Data Protection Act (PDPA) and the Electronic Commerce Act. Please review this declaration, in which we inform you about
    the most important aspects of the processing of your data by IZTOK-5 EOOD. In this declaration, we inform you about the most important
    aspects of the processing of your data on our website. With it, we also inform you about the terms and legal grounds for collecting,
    processing, storing, using, destroying and protecting your personal information, to the extent that you do not give us your express
    consent to do so with it.
</p>
<h3>
    What happens to your data after you contact us?
</h3>
<p>
    When you write to us via the form on our website or send us an email, we store your
    data for the period necessary to process your request and to answer your follow-up questions.
    We will not share this information with third parties without your express consent!
</p>
<h3>
  Your rights.
</h3>
<p>
    You have the right of access to your data that we process, as well as the right to rectification, erasure (right to be forgotten), restriction of processing, data portability, withdrawal of consent and objection.

    If you believe that our processing of your data violates the provisions on the protection of personal data,
    or if you believe that your rights under these provisions have been infringed in any way, you can contact the 
    competent administrative authority. In Bulgaria, this is the Commission for the Protection of Personal Data.
</p>
